body{
  background: #000;
}
/* #menu
{
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    left: 0;
    top:0;
    width: 250px;
    height: 100%;
    background: black;
} */


#menu {
  height: 100%;
  width: 250px;
  position: fixed;
  /* z-index: 1; */
  top: 80px;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
  /* border: 2px solid #ffff46; */
  border-right: 1px solid #ffff46;
  
}
#content
{
    padding-left: 250px;
    padding-top: 80px;
}
/* #menu ul a{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  } */
  #menu button{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffff46;
    display: block;
    background: none!important;
    border: none;
    text-align: center;
    margin-left: 20px;
    /* margin: auto; */
    width: 50%;

  }
  #menu button:hover {
    color: rgb(167, 166, 166);
    /* background: rgb(123, 122, 122)!important; */
    border: none;
    box-shadow:none;
   -webkit-box-reflect:unset;
  }
  #about_btn:active:focus{
    color: rgb(167, 166, 166);
    /* background: rgb(123, 122, 122)!important; */
    border: none;
    box-shadow:none;
   -webkit-box-reflect:unset;
  }
  #about_btn:visited:focus {
    color: #ffff46;
    /* background: rgb(123, 122, 122)!important; */
    border: none;
    box-shadow:none;
   -webkit-box-reflect:unset;
  }
  #gameAndSettings
  {
      display: none;
  }
  #welcomeDiv
  {
      display: block;
      margin: auto;
      width: 50%;
      top: 50%;
      -ms-transform: translateY(+50%);
      transform: translateY(+50%);

  }
  #registerDiv{
    display: none;
    /* display: flex; */
	justify-content: flex-start;
	align-items: center;
	text-align: center;

  }
  #loginDiv{
    display: none;
    /* display: flex; */
	justify-content: flex-start;
	align-items: center;
	text-align: center;

  }

  #AboutDiv{
    display: none;

  }
  #settingGame{
    display: none;
  }
  #title
  {
    display: none;
    align-items: center;
  }
 #header{
  position: fixed;
  width: 100%;
  height: 80px;
  overflow: hidden;
  z-index: 1;
  left: 0;
  top: 0;
  background: #000;

 }


#textbox {
  display: flex;
  color: white;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}

#logo_img{
  padding-bottom: 20px;
  padding-left: 10px;
  float: left;
  width: 260px;
  height: 80px;

}

.aligncenter {
  color: rgb(253, 253, 129);
  padding-top: 8px;
  float: left;
  width:90%;
  text-align:right;
}
.alignright {
 padding-top: 20px;
 float: left;
 width:90%;
 text-align:right;
 font-size: 10px;
}
button{
  padding: 15px 32px;
  text-align: center;
  background-color: #000;
  color:#ffff46 ;
  border: 2px solid #ffff46;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;
  margin: 40px 0;
  margin-right: 50px;

}

button:hover{
  background: #ffff46;
  border-radius: 5px;
  color: #050801;
  border: #ffff46;
  box-shadow: 0 0 5px #ffff46,
              0 0 25px #ffff46,
              0 0 50px #ffff46,
              0 0 200px #ffff46;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#about_btn{
  padding: 15px 32px;
  text-align: center;
  background-color: #000;
  color:#ffff46 ;
  border: 2px solid #ffff46;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;
  margin: 40px 0;
  margin-right: 50px;
}
#about_btn:hover{
  background: #ffff46;
  border-radius: 5px;
  color: #050801;
  border: #ffff46;
  box-shadow: 0 0 5px #ffff46,
              0 0 25px #ffff46,
              0 0 50px #ffff46,
              0 0 200px #ffff46;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
form{
  margin: auto;
  width: 50%;
  top: 50%;
  -ms-transform: translateY(+5%);
  transform: translateY(+5%);
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}
input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}
